@{
    ViewBag.Title = "About Us";
}

<h3>What is this website?</h3>
<p>This website is for “advanced web programming” assignment component two.</p>
<p>Please note: all data include pictures are completely random. 
It is also an internal project within university therefore some copyright have not mentioned, 
so this project cannot be published publicly without proper copyright.
  
</p>



