@{
    ViewBag.Title = "The Other Library";
}

<h2>@ViewBag.Message</h2>

You can share your library with your friends. It is simple; you just need to follow these steps:
<ul>
<li>
Sign up to website
</li><li>
Create a profile
</li><li>
Search friends and request for friendship
</li><li>
Based on friendship, request items.
	You can send message to any user.
	Item may not be available, because some other friends may have taken
</li><li>
Return items.
	This removes from your current collection and adds to owner items
</li>
</ul> 
Users to this website can do many other things such as; add/remove items to your library, remove friendship and edit their profiles.


